*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:  #0d0f39 ;
    color: azure;
    font-family: 'Segoe ui';
}
header{
    position: fixed;
    position: fixed;
    width: 100%;
    
   
    
}
 nav{
    display: flex;
    position: absolute;
    right: auto;
    width: 100%;
    height: 40px;
    justify-content: flex-end;
    
}
header nav ul{
    list-style: none;
    display: flex;
    justify-self: flex-end;
    font-size: 1.5rem;
    right: 0;
    top:0;
}
header nav ul li{
    margin-left: 20px;
    right: 0;
}
header nav ul li a {
    text-decoration:  none;
    margin-left: 20px;
    right: 0;
}

.home{
    width: 100%;
    height: 800px;
    background-color: azure;
    color: black;
    margin-top: 0px;
    
}
.about{
    margin-top: 20px;
    width: 100%;
    height: 800px;
    background-color:blueviolet;
    color: black;
   
}
.privacy{
    margin-top: 20px;
    width: 100%;
    height: 800px;
    background-color: rgb(179, 204, 204);
    color: black;
}


 img{
    width: 200px;
}
a{
    text-decoration: none;
}